.side-bar
  .side-bar__user-name
    .top-items
      .top-items__left-box
        .top-items__name
          kosuke
      .top-items__right-box
        .top-items__icon
        = link_to "#", class: "top-items__icon--btn" do
          <i class="far fa-edit"></i>
        = link_to "#", class: "top-items__icon--btn" do
          <i class="fa fa-cog"></i>
  .side-bar__group-list
    .side-bar__group-name
      techcamp
    .side-bar__group-messages
      まだメッセージがありません
  
  
