.side-bar
  .side-bar__user-name
    .top-items
      .top-items__left-box
        %h3.top-items__name
          = current_user.name
      .top-items__right-box
        .top-items__icon
        = link_to "#", class: "top-items__icon--btn" do
          %i.far.fa-edit
        = link_to edit_user_path(current_user), class: "top-items__icon--btn" do
          %i.fa.fa-cog
  .side-bar__group-list
    .side-bar__group-name
      techcamp
    .side-bar__group-messages
      まだメッセージがありません
  
  
